<img src="/graphs/cpu.png" alt="CPU"/>
<img src="/graphs/ram.png" alt="RAM"/>

<h2>Active sessions</h2>

<ul>
  <% sessions.each do |session| %>
    <li><%= session[:id] %>: started at <%= session[:started_at] %></li>
  <% end %>
</ul>
