<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Scrapod</title>
    <link href="<%= url('/application.css') %>" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <h1>Scrapod</h1>

    <ul>
      <li><a href="/">Dashboard</a></li>
      <li><a href="/monit-frame">Monit</a></li>
    </ul>

    <%= yield %>
  </body>
</html>
